body
{
background-color:rgb(66, 245, 179);
font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Yanone Kaffeesatz', sans-serif;}
.icon_size{
font-size:20px;
}
.footer
{
height:50px;
width:100%;
background-color:white;
text-align:center;
position:fixed;
bottom:0;
left:0;}
